# CSV 파일 읽어오기
- 2022.6.27

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('world_happiness_report_2021.csv')

In [3]:
data

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.000,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
1,Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.700,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
2,Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.400,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
3,Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.000,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
4,Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.400,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,Lesotho,Sub-Saharan Africa,3.512,0.120,3.748,3.276,7.926,0.787,48.700,0.715,-0.131,0.915,2.43,0.451,0.731,0.007,0.405,0.103,0.015,1.800
145,Botswana,Sub-Saharan Africa,3.467,0.074,3.611,3.322,9.782,0.784,59.269,0.824,-0.246,0.801,2.43,1.099,0.724,0.340,0.539,0.027,0.088,0.648
146,Rwanda,Sub-Saharan Africa,3.415,0.068,3.548,3.282,7.676,0.552,61.400,0.897,0.061,0.167,2.43,0.364,0.202,0.407,0.627,0.227,0.493,1.095
147,Zimbabwe,Sub-Saharan Africa,3.145,0.058,3.259,3.030,7.943,0.750,56.201,0.677,-0.047,0.821,2.43,0.457,0.649,0.243,0.359,0.157,0.075,1.205
148,Afghanistan,South Asia,2.523,0.038,2.596,2.449,7.695,0.463,52.493,0.382,-0.102,0.924,2.43,0.370,0.000,0.126,0.000,0.122,0.010,1.895

In [8]:
data.columns

Index(['Country name', 'Regional indicator', 'Ladder score',
       'Standard error of ladder score', 'upperwhisker', 'lowerwhisker',
       'Logged GDP per capita', 'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Ladder score in Dystopia',
       'Explained by: Log GDP per capita', 'Explained by: Social support',
       'Explained by: Healthy life expectancy',
       'Explained by: Freedom to make life choices',
       'Explained by: Generosity', 'Explained by: Perceptions of corruption',
       'Dystopia + residual'],
      dtype='object')

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 20 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country name                                149 non-null    object
 1   Regional indicator                          149 non-null    object
 2   Ladder score                                149 non-null    float64
 3   Standard error of ladder score              149 non-null    float64
 4   upperwhisker                                149 non-null    float64
 5   lowerwhisker                                149 non-null    float64
 6   Logged GDP per capita                       149 non-null    float64
 7   Social support                              149 non-null    float64
 8   Healthy life expectancy                     149 non-null    float64
 9   Freedom to make life choices                149 non-null    float64
 10  Generosity                                  149 non-null    float64
 11  Perceptions of corruption                   149 non-null    float64
 12  Ladder score in Dystopia                    149 non-null    float64
 13  Explained by: Log GDP per capita            149 non-null    float64
 14  Explained by: Social support                149 non-null    float64
 15  Explained by: Healthy life expectancy       149 non-null    float64
 16  Explained by: Freedom to make life choices  149 non-null    float64
 17  Explained by: Generosity                    149 non-null    float64
 18  Explained by: Perceptions of corruption     149 non-null    float64
 19  Dystopia + residual                         149 non-null    float64
dtypes: float64(18), object(2)
memory usage: 23.4+ KB

In [4]:
data['Ladder score']

0      7.842
1      7.620
2      7.571
3      7.554
4      7.464
       ...
144    3.512
145    3.467
146    3.415
147    3.145
148    2.523
Name: Ladder score, Length: 149, dtype: float64

In [6]:
data[['Ladder score', 'Social support']]

     Ladder score  Social support
0           7.842           0.954
1           7.620           0.954
2           7.571           0.942
3           7.554           0.983
4           7.464           0.942
..            ...             ...
144         3.512           0.787
145         3.467           0.784
146         3.415           0.552
147         3.145           0.750
148         2.523           0.463

[149 rows x 2 columns]

In [7]:
data[['Ladder score', 'Social support']].values

array([[7.842, 0.954],
       [7.62 , 0.954],
       [7.571, 0.942],
       [7.554, 0.983],
       [7.464, 0.942],
       [7.392, 0.954],
       [7.363, 0.934],
       [7.324, 0.908],
       [7.277, 0.948],
       [7.268, 0.934],
       [7.183, 0.94 ],
       [7.157, 0.939],
       [7.155, 0.903],
       [7.103, 0.926],
       [7.085, 0.947],
       [7.069, 0.891],
       [7.064, 0.934],
       [6.965, 0.947],
       [6.951, 0.92 ],
       [6.834, 0.906],
       [6.69 , 0.942],
       [6.647, 0.862],
       [6.602, 0.931],
       [6.584, 0.898],
       [6.561, 0.844],
       [6.494, 0.891],
       [6.491, 0.932],
       [6.483, 0.88 ],
       [6.461, 0.948],
       [6.435, 0.813],
       [6.431, 0.925],
       [6.377, 0.915],
       [6.372, 0.821],
       [6.331, 0.936],
       [6.33 , 0.882],
       [6.317, 0.831],
       [6.309, 0.877],
       [6.255, 0.935],
       [6.223, 0.802],
       [6.189, 0.941],
       [6.18 , 0.896],
       [6.179, 0.918],
       [6.172, 0.882],
       [6.166, 0.898],
       [6.152, 0.952],
       [6.14 , 0.832],
       [6.106, 0.843],
       [6.078, 0.873],
       [6.061, 0.762],
       [6.049, 0.905],
       [6.032, 0.927],
       [6.012, 0.847],
       [5.992, 0.943],
       [5.985, 0.888],
       [5.972, 0.864],
       [5.94 , 0.884],
       [5.929, 0.898],
       [5.929, 0.879],
       [5.919, 0.812],
       [5.882, 0.924],
       [5.88 , 0.83 ],
       [5.845, 0.799],
       [5.84 , 0.832],
       [5.813, 0.87 ],
       [5.766, 0.857],
       [5.764, 0.821],
       [5.744, 0.893],
       [5.723, 0.823],
       [5.716, 0.81 ],
       [5.677, 0.935],
       [5.653, 0.893],
       [5.581, 0.858],
       [5.545, 0.853],
       [5.536, 0.82 ],
       [5.534, 0.91 ],
       [5.477, 0.903],
       [5.477, 0.836],
       [5.466, 0.86 ],
       [5.411, 0.85 ],
       [5.41 , 0.827],
       [5.384, 0.817],
       [5.345, 0.811],
       [5.342, 0.636],
       [5.339, 0.811],
       [5.306, 0.644],
       [5.283, 0.799],
       [5.269, 0.774],
       [5.266, 0.931],
       [5.198, 0.913],
       [5.171, 0.836],
       [5.142, 0.71 ],
       [5.132, 0.71 ],
       [5.117, 0.697],
       [5.101, 0.805],
       [5.088, 0.727],
       [5.074, 0.641],
       [5.066, 0.983],
       [5.051, 0.69 ],
       [5.045, 0.489],
       [5.03 , 0.728],
       [5.025, 0.693],
       [4.984, 0.639],
       [4.956, 0.86 ],
       [4.948, 0.822],
       [4.934, 0.651],
       [4.918, 0.56 ],
       [4.892, 0.861],
       [4.891, 0.671],
       [4.887, 0.802],
       [4.875, 0.888],
       [4.854, 0.746],
       [4.852, 0.776],
       [4.834, 0.672],
       [4.83 , 0.765],
       [4.794, 0.744],
       [4.759, 0.74 ],
       [4.723, 0.724],
       [4.721, 0.71 ],
       [4.636, 0.781],
       [4.625, 0.72 ],
       [4.607, 0.688],
       [4.596, 0.691],
       [4.584, 0.848],
       [4.574, 0.818],
       [4.517, 0.826],
       [4.426, 0.779],
       [4.395, 0.767],
       [4.355, 0.619],
       [4.325, 0.827],
       [4.308, 0.77 ],
       [4.289, 0.626],
       [4.283, 0.75 ],
       [4.275, 0.764],
       [4.227, 0.795],
       [4.208, 0.686],
       [4.107, 0.569],
       [4.073, 0.708],
       [3.849, 0.63 ],
       [3.819, 0.603],
       [3.775, 0.49 ],
       [3.658, 0.832],
       [3.623, 0.702],
       [3.615, 0.54 ],
       [3.6  , 0.537],
       [3.512, 0.787],
       [3.467, 0.784],
       [3.415, 0.552],
       [3.145, 0.75 ],
       [2.523, 0.463]])

In [10]:
data.iloc[:3, :3]

  Country name Regional indicator  Ladder score
0      Finland     Western Europe         7.842
1      Denmark     Western Europe         7.620
2  Switzerland     Western Europe         7.571